:root{
    --bitcoin-orange: #F7931A ;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF ;
    --black: #201E1C;
    --warm-black: #282623;
    --grey: #BABABA;
    --secondary-grey: rgba(128, 128, 128, 1);
    --just-white: #FFFFFF ;
    --off-white:#FAF8F7;
}

*{
    padding: 0;
    margin: 0;
    border
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    ;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-family: "DM Sans", sans-serif;
    line-height: 2.6rem;
    color: var(--just-white) ;
}
.header--title-container p{
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    top: 270px;
    left: calc(50% - 130px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 40px;
    border: none;
    background-color:var(--just-white) ;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16) ;
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-decoration: none;
    font-weight: bold;
    align-self: center;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/vector.svg);
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/Images/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
/* .main-table-container{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 70px;

} */

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    /* scroll-snap-align: center; */
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white) ;
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.table__right{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.table__right .up{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
    background-image: url(./assets/icons/bullish.svg);
    background-size: cover;
}
.table__right .down{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
    background-image: url(./assets/icons/bearish.svg);
    background-size: cover;
}
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--soft-orange);
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--warm-black);
}
.main-currency-table .fees-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.fees-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--soft-blue);
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--warm-black);
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}
.product-detail-batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top:-12px;
    left: calc(50% - 26px);
    background-image: url(./assets/icons/icon.svg);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.product-detail--title h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--secondary-grey);
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 20px;
    background-color: var(--warm-black) ;
    border-radius: 4px;
}
.product--card-title{
    font-family: "DM Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--just-white);
}
.product--card-body{
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-grey);
}
.clock{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-image:url(./assets/icons/clock_icon.svg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eye{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-image:url(./assets/icons/eye\ 1.svg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dolarSign{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-image:url(./assets/icons/dollar-sign\ 1.svg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.check{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-image:url(./assets/icons/check-circle\ 1.svg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/Images/bitcoinbaby\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black) ;
}
.bitcoin-img-container p{
    font-family: "DM Sans",sans-serif;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--off-white);
    text-align: center;
    padding-top: 60px;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h4{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-grey);
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 190px;
    max-width: 300px;
    height: 290px;
    margin: 50px auto 0 ;
    padding: 0 15px;
    background-color: var(--soft-orange);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(89,73,30,0.16);
}
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding-top: 8px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    left: calc(50% - 60px);
    top: -12px;
    font-family: "DM Sans",sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--just-white);
    box-shadow: 0 4px 8px 0 rgba(89,73,30,0.16);
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 6.3rem;
    font-family: "Inter", sans-serif;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--black);
    vertical-align: 35px;
    text-align: center;
}
.plan-card--saved{
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--secondary-grey);
    padding-bottom: 15px;
}
.plan-card-ca{
    width: 160px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--just-white);
    border-radius: 5px;
    border: 2px solid var(--bitcoin-orange);
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
}
.plan-card-ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background-image: url(./assets/icons/arrow-right\ 1.svg);
    vertical-align: -2px;
}
.plan-card--logo{
    position: absolute;
    width: 70px;
    height: 40px;
    background-image: url(./assets/icons/icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -15px;
    left: calc(50% - 30px);
}
.plans-container--slider{
    display: flex;
    gap: 35px;
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

footer{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
    position: relative;
}

footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer img{
 width: 110px;
 height: 110px; 
}
footer a{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--just-white);
}
footer ul{
    list-style: none;
}
